@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Oxygen&family=Ranchers&display=swap');
/*
How to use our fonts
font-family: 'Lexend Deca', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Ranchers', cursive;
*/
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
